
<head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/png" href="/images/site/icon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%- title %> | CSE 340 App</title>
    <meta name="description" content="Web site sobre carros es um ejemplo de uso de node.js" />
    <link rel="canonical" href="https://three40-starter-k3jt.onrender.com/" />
    <meta name="author" content="Samuel Chacon" />
    <!-- Facebook Meta Tags -->
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Site de carros " />
    <meta property="og:description" content="Es un sitio de carros y se hara un ejemplo practio del uso de nodejs" />
    <meta property="og:url" content="https://three40-starter-k3jt.onrender.com/" />
    <meta property="og:site_name" content="Uso practico nodejs com una tienda de carros" />
    <meta property="og:image" content="https://three40-starter-k3jt.onrender.com/images/vehicles/adventador.jpg"/>
    <meta property="og:image:alt" content="A photo of the car advetador" />
    <meta property="og:image:type" content="image/jpg" />
    <meta property="og:image:width" content="612" />
    <meta property="og:image:height" content="408" />


    <!-- Twitter Meta Tags -->
    <meta name="twitter:title" content="Site de carros" />
    <meta name="twitter:description" content="Este una pagina de carro para mostrar un ejmplo practivo de uso de nodejs" />
    <meta name="twitter:image" content="https://three40-starter-k3jt.onrender.com/images/vehicles/adventador.jpg" />
    <meta name="twitter:card" content="summary_large_image" />

    <link rel="apple-touch-icon" sizes="180x180" href="/images/site/icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/images/site/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/images/site/icon.png" />
    <link rel="manifest" href="site.webmanifest" />

    <link type="text/plain" rel="author" href="humans.txt" />

    <link type="text/css" rel="stylesheet" href="/css/normalize.css" />
    <link type="text/css" rel="stylesheet" href="/css/styles.css" />
   
 

</head>
