<h1>Welcome to CSE Motors!</h1>
<%# messages() %>
<section id="hero">
    <img src="images/vehicles/delorean.jpg" alt="Cartoon Image of DMC Delorean">
    <section id="specs">
        <h2>DMC Delorean</h2>
        <h3>3 Cup holders</h3>
        <h3>Superman doors</h3>
        <h3>Fuzzy dice!</h3>
        <a href="#" target="_self">
            <img id="own" src="images/site/own_today.png" alt="own_today">
        </a>
    </section>
</section>
<div id="upgrade-review">
    <section id="reviews">
        <h2 class="sub-topic">DMC Delorean Reviews</h2>
        <ul id="reviews-list">
            <li>"So fast it's almost like traveling in time." (4/5)</li>
            <li>"Coolest ride on the read." (4/5)</li>
            <li>"I'm feeling McFly." (5/5)</li>
            <li>"The most futuristic ride of our day." (4.5/5)</li>
            <li>"80's living and I love it!." (5/5)</li>
            
        </ul>
    </section>
    <section id="upgrades">
        <h2 class="sub-topic">Delorean Upgrades</h2>
        <div id="upgrades-grid">
            <span>
                <img src="images/upgrades/flux-cap.png" alt="flux-cap">
                <a href="#" target="_self">Flux Capacitor</a>
            </span>
            <span>
                <img src="images/upgrades/flame.jpg" alt="flame">
                <a href="#" target="_self">Flame Decals</a>
            </span>
            <span>
                <img src="images/upgrades/bumper_sticker.jpg" alt="bumper_sticker">
                <a href="#" target="_self">Bumper Stickers</a>
            </span>
            <span>
                <img src="images/upgrades/hub-cap.jpg" alt="hub-cap">
                <a href="#" target="_self">Hub Caps</a>
            </span>

        </div>
    </section>
</div>
