<!-- if statement, if title then display title, else redirect -->
<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
        res.redirect('/')
    } %>
    
    <!-- message -->
    <%- messages() %>

<% if (errors) { %>
    <ul class="notice">
    <% errors.array().forEach(error => { %>
        <% if (error.msg != "Invalid value") { %>
            <li><%= error.msg %></li>
        <% } %>
    <%  }) %>
    </ul>
    <% } %>
    
<!-- Inventory items display -->
<div id="add-classification">
    <form action="/inv/add_classification" method="post">
            <h2>Field is required</h2>
            <label for="classification_name">Classification Name</label>
            <p>Name must be alphabetic chraters only</p>
            <!-- <label for="classification_name">New Classification</label> -->
            <input type="text" name="classification_name" id="classification_name" pattern="^[A-Z][a-z]{1,15}$" placeholder="Sedan" required value="<%= locals.classification_name %>">
        
        <button type="submit">Add Classification</button>
        
    </form>
</div>